# World Bank - Mortality Summarizing
Reduced '.csv' files from WB_data Notebook

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import requests
import matplotlib.pyplot as plt
from matplotlib import cbook
from scipy.stats import linregress
import scipy.stats as st
import numpy as np
import time

# Impor the OpenWeatherMap API key
from api_keys import geoapify_key

# Import citipy to determine the cities based on latitude and longitude
from citipy import citipy

In [2]:
# WB data set
WB_africadata_2000_bins = Path("Resources\WB_africadata_2000_bins.csv")

In [3]:
# Read data file with the Pandas library
# encoding?, i.e encoding="ISO-8859-1"
WB_africadata_2000_df2 = pd.read_csv(WB_africadata_2000_bins)

In [4]:
WB_africadata_2000_df2

,series_id,country_code,country_name,year,value,Year Group
0,SH.HIV.INCD.TL,KEN,Kenya,2017,3.400000e+04,2016 - 2020
1,SH.HIV.INCD.TL,LBR,Liberia,2017,1.600000e+03,2016 - 2020
2,SH.HIV.INCD.TL,LSO,Lesotho,2017,1.000000e+04,2016 - 2020
3,SH.HIV.INCD.TL,MDG,Madagascar,2017,7.200000e+03,2016 - 2020
4,SH.HIV.INCD.TL,MOZ,Mozambique,2017,1.300000e+05,2016 - 2020
...,...,...,...,...,...,...
652157,VA.NO.SRC,WSM,Samoa,2006,3.000000e+00,2006 - 2010
652158,FM.LBL.BMNY.GD.ZS,TCD,Chad,2010,1.146678e+01,2006 - 2010
652159,NE.CON.PRVT.CN.AD,SDN,Sudan,2000,2.199464e+10,2000 - 2005
652160,NE.CON.PRVT.CN.AD,SDN,Sudan,2003,3.190503e+10,2000 - 2005
652161,SP.POP.DPND.YG,TGO,Togo,2013,7.513357e+01,2011 - 2015

# Slicing of the Data
###In order to analyze the data and to understand the impact of the Foreign Aid with regards to poverty rate, literacy and mortality, the data was sliced by the "series_id". The deifinition of the diferent "series_id" values (indicators) is described in a second file downloaded from the Nasdaq API and saved as 'WB_metadata_df'.

###To facilitate/expedite the search and filtering of the relevant a function was created to search the text strings : "key_word". This function is case sensitive and it's used is combined with the review of the search output selection to identify the indicators that best match our work objective.

In [5]:
# WB id series definition data set
WB_metadata = Path("Resources/WB_METADATA_f7ce7fba293ccc6eb39cdf15fb097982.csv")

In [6]:
# Read data file with the Pandas library
WB_metadata_df = pd.read_csv(WB_metadata)

In [7]:
WB_metadata_df

,series_id,name,description
0,DC.DAC.DEUL.CD,"Net bilateral aid flows from DAC donors, Germa...",Net bilateral aid flows from DAC donors are th...
1,RQ.STD.ERR,Regulatory Quality: Standard Error,Regulatory Quality captures perceptions of the...
2,EG.USE.PCAP.KG.OE,Energy use (kg of oil equivalent per capita),Energy use refers to use of primary energy bef...
3,EN.POP.EL5M.UR.ZS,Urban population living in areas where elevati...,Urban population below 5m is the percentage of...
4,per_lm_alllm.cov_q1_tot,Coverage of unemployment benefits and ALMP in ...,Coverage of unemployment benefits and active l...
...,...,...,...
1479,SL.TLF.BASC.FE.ZS,"Labor force with basic education, female (% of...",The ratio of the labor force with basic educat...
1480,SL.GDP.PCAP.EM.KD,GDP per person employed (constant 2021 PPP $),GDP per person employed is gross domestic prod...
1481,SL.TLF.INTM.MA.ZS,"Labor force with intermediate education, male ...",The ratio of the labor force with intermediate...
1482,SL.UEM.NEET.FE.ZS,"Share of youth not in education, employment or...","Share of youth not in education, employment or..."
1483,SL.UEM.NEET.MA.ZS,"Share of youth not in education, employment or...","Share of youth not in education, employment or..."

In [8]:
# This function will search within a text string for a given 'key word'. It is case sensitive

def key_word(df, search_col, word_txt, result_col):
    i=0   
    result_ls = []
    for item in df[search_col]:
        text_ls = [x.strip() for x in df[search_col][i].split()]
        if word_txt in text_ls:
            result_ls.append(df[result_col][i])
        i+=1
    if i >= df[search_col].count():
        if len(result_ls) > 0:
            return result_ls
        else:
            return print("Keyword Not found")

In [9]:
Mortality_search = key_word(WB_metadata_df, 'name', 'Mortality', 'series_id')

In [10]:
#len(Mortality_search)

In [11]:
Mortality_search2= WB_metadata_df[WB_metadata_df['series_id'].isin(Mortality_search)]

In [12]:
#Mortality_search2

# Selection of Indicators for Analysis

###Indicators are selected out of the search result and used to create redu ed data sets. In the case of the Mortality indicator, we selected three indicators : mortality under age 5-females only, mortality under age 5-males only, and mortality under age 5-combined. Values listed are the rate per 100,000 parts.

###In order to organize the data, we prepared 6 data sets. One for each indicator.

In [13]:
# Thought these indicators might provide more data for the Mortality analysis: rate is per 100000 females, males, population
#SH.DYN.MORT.FE - mortality under age 5, females
#SH.DYN.MORT.MA - mortality under age 5, males
#SH.DYN.MORT - mortality under age 5, combined

## Mortality Rate < 5 yr (per 100Th) - Females

In [14]:
WB_Mort_fem_df = WB_africadata_2000_df2.loc[WB_africadata_2000_df2['series_id'] == "SH.DYN.MORT.FE"]
#WB_Mort_fem_df = WB_Mort_fem_df.rename(columns = {'value': 'Mortality Rate < 5 yr (per 100Th)'})
WB_Mort_fem_df

             series_id country_code  country_name  year  value   Year Group
127992  SH.DYN.MORT.FE          MDG    Madagascar  2016   60.1  2016 - 2020
196033  SH.DYN.MORT.FE          TUN       Tunisia  2018   14.1  2016 - 2020
301671  SH.DYN.MORT.FE          AGO        Angola  2000  190.9  2000 - 2005
301672  SH.DYN.MORT.FE          BFA  Burkina Faso  2000  171.5  2000 - 2005
301673  SH.DYN.MORT.FE          BWA      Botswana  2000   73.9  2000 - 2005
...                ...          ...           ...   ...    ...          ...
302571  SH.DYN.MORT.FE          UGA        Uganda  2022   36.1  2021 - 2023
302572  SH.DYN.MORT.FE          WSM         Samoa  2022   14.4  2021 - 2023
302573  SH.DYN.MORT.FE          ZMB        Zambia  2022   50.7  2021 - 2023
302574  SH.DYN.MORT.FE          ZWE      Zimbabwe  2022   43.3  2021 - 2023
453557  SH.DYN.MORT.FE          TCD          Chad  2001  171.6  2000 - 2005

[713 rows x 6 columns]

In [15]:
reduc_Mort_fem_df = WB_Mort_fem_df.reset_index()
reduc_Mort_fem_df.drop(columns=['index','series_id'], inplace=True)
reduc_Mort_fem_df

    country_code  country_name  year  value   Year Group
0            MDG    Madagascar  2016   60.1  2016 - 2020
1            TUN       Tunisia  2018   14.1  2016 - 2020
2            AGO        Angola  2000  190.9  2000 - 2005
3            BFA  Burkina Faso  2000  171.5  2000 - 2005
4            BWA      Botswana  2000   73.9  2000 - 2005
..           ...           ...   ...    ...          ...
708          UGA        Uganda  2022   36.1  2021 - 2023
709          WSM         Samoa  2022   14.4  2021 - 2023
710          ZMB        Zambia  2022   50.7  2021 - 2023
711          ZWE      Zimbabwe  2022   43.3  2021 - 2023
712          TCD          Chad  2001  171.6  2000 - 2005

[713 rows x 5 columns]

In [16]:
Mort_fem_table = reduc_Mort_fem_df.pivot(index='year', columns='country_name', values='value')
Mort_fem_table

country_name,Angola,Botswana,Burkina Faso,Central African Republic,Chad,Djibouti,"Egypt, Arab Rep.",Ethiopia,Gabon,Ghana,...,Senegal,Sierra Leone,Somalia,Sudan,Tanzania,Togo,Tunisia,Uganda,Zambia,Zimbabwe
year,,,,,,,,,,,,,,,,,,,,,
2000,190.9,73.9,171.5,157.5,175.0,92.9,44.8,129.8,77.6,92.0,...,122.7,214.7,164.3,95.9,122.9,111.0,26.5,134.3,147.0,87.8
2001,185.3,72.9,167.4,154.9,171.6,90.9,42.1,123.8,75.9,88.2,...,116.2,209.8,164.4,92.6,115.2,107.7,24.7,127.9,138.4,86.0
2002,178.7,71.1,162.8,152.1,168.1,88.6,39.7,117.7,74.1,84.4,...,108.5,204.5,164.5,89.3,107.3,104.5,23.2,120.8,128.1,84.7
2003,171.1,70.6,157.8,148.8,164.6,86.3,37.6,111.4,72.2,81.2,...,100.6,199.1,164.6,86.3,99.9,101.5,21.8,113.3,117.9,83.9
2004,162.8,69.7,152.3,145.1,161.3,83.9,35.7,105.2,70.1,78.3,...,92.9,193.5,164.6,83.2,93.2,98.5,20.7,105.6,107.9,84.1
2005,154.2,65.5,146.0,141.2,157.9,81.6,34.1,99.2,68.0,75.8,...,85.7,187.4,164.5,80.4,87.1,95.7,19.7,98.2,99.0,85.0
2006,145.1,61.2,139.6,136.7,154.6,79.2,32.5,93.3,66.0,73.5,...,79.4,181.0,163.9,77.7,81.7,93.1,18.9,91.3,91.5,87.1
2007,136.1,59.5,133.3,132.7,150.8,76.7,31.1,87.8,63.6,71.2,...,73.8,174.1,161.9,75.1,76.5,90.4,18.3,85.1,86.1,88.0
2008,127.3,59.0,127.1,128.8,147.1,74.4,29.6,82.8,61.3,68.6,...,68.9,167.0,158.6,72.7,72.0,87.8,17.8,79.3,81.5,87.0
2009,118.7,56.4,121.3,125.0,143.2,72.2,28.3,78.0,58.9,65.9,...,64.7,160.1,154.0,70.5,67.5,85.2,17.5,74.3,76.5,84.0
2010,110.7,54.1,116.0,121.3,139.2,70.0,27.0,73.6,56.3,63.0,...,61.0,153.0,148.9,68.4,64.0,82.7,17.2,69.3,72.2,79.4
2011,103.1,54.0,111.1,118.0,135.4,67.8,25.9,69.5,53.9,60.0,...,57.7,146.1,144.1,66.3,60.4,80.1,17.0,64.9,70.1,74.2
2012,96.2,49.7,106.7,115.0,131.6,65.7,24.7,65.7,51.6,57.1,...,54.6,139.7,139.1,64.5,57.4,77.4,16.8,60.3,68.3,66.3
2013,90.3,46.8,102.5,112.7,128.0,63.6,23.6,62.2,49.3,54.4,...,51.6,133.6,134.6,62.7,54.6,74.9,16.6,56.2,65.8,60.5
2014,85.2,46.0,98.8,110.3,124.5,61.6,22.7,58.8,47.4,52.0,...,48.8,131.7,130.2,60.9,51.9,72.4,16.4,53.1,63.5,57.1
2015,81.0,44.3,95.2,107.4,120.8,59.5,21.8,55.7,45.7,49.7,...,46.2,132.7,126.0,59.0,50.0,70.0,16.0,50.2,62.4,55.0
2016,77.1,43.1,91.8,104.6,117.3,57.7,20.9,52.8,43.9,47.6,...,43.7,117.9,122.0,57.1,47.8,67.8,15.6,47.3,59.6,52.4
2017,73.7,40.3,88.5,102.9,113.6,55.7,20.2,50.2,42.2,45.6,...,41.4,113.4,118.1,55.4,45.7,65.6,14.9,44.9,58.4,50.8
2018,70.8,39.9,85.3,100.8,109.9,53.8,19.5,47.9,40.6,43.8,...,39.3,109.0,113.8,53.7,43.5,63.4,14.1,42.7,58.6,48.6
2019,67.9,38.8,82.3,98.2,106.2,52.0,18.8,45.8,38.9,42.1,...,37.5,104.9,110.3,52.0,41.8,61.2,13.1,40.8,57.0,47.7
2020,65.4,37.5,79.3,95.4,102.9,50.4,18.1,43.8,36.9,40.5,...,35.8,101.0,106.6,50.2,40.1,59.2,12.1,38.9,54.2,46.8
2021,63.3,36.1,76.6,92.4,99.4,48.8,17.4,42.0,35.8,39.1,...,34.4,97.4,103.1,48.4,38.0,57.2,11.2,37.4,52.2,44.5
2022,61.0,35.1,73.9,89.9,96.2,47.0,16.8,40.5,34.7,37.8,...,33.0,93.8,99.9,46.7,36.6,55.3,10.5,36.1,50.7,43.3

In [17]:
# Save the DataFrame as a CSV
# Note: To avoid any issues later, use encoding="utf-8"
Mort_fem_table.to_csv("Resources\Mort_fem_table.csv", encoding="utf-8", index=False)

## Mortality Rate < 5 yr (per 100Th) - Males

In [18]:
WB_Mort_ma_df = WB_africadata_2000_df2.loc[WB_africadata_2000_df2['series_id'] == "SH.DYN.MORT.MA"]
WB_Mort_ma_df

,series_id,country_code,country_name,year,value,Year Group
463915,SH.DYN.MORT.MA,AGO,Angola,2000,214.2,2000 - 2005
463916,SH.DYN.MORT.MA,BFA,Burkina Faso,2000,184.1,2000 - 2005
463917,SH.DYN.MORT.MA,BWA,Botswana,2000,81.4,2000 - 2005
463918,SH.DYN.MORT.MA,CAF,Central African Republic,2000,172.5,2000 - 2005
463919,SH.DYN.MORT.MA,DJI,Djibouti,2000,106.0,2000 - 2005
...,...,...,...,...,...,...
464623,SH.DYN.MORT.MA,TZA,Tanzania,2022,44.2,2021 - 2023
464624,SH.DYN.MORT.MA,UGA,Uganda,2022,44.7,2021 - 2023
464625,SH.DYN.MORT.MA,WSM,Samoa,2022,17.7,2021 - 2023
464626,SH.DYN.MORT.MA,ZMB,Zambia,2022,60.2,2021 - 2023
464627,SH.DYN.MORT.MA,ZWE,Zimbabwe,2022,51.9,2021 - 2023

In [19]:
reduc_Mort_ma_df = WB_Mort_ma_df.reset_index()
reduc_Mort_ma_df.drop(columns=['index','series_id'], inplace=True)
reduc_Mort_ma_df

    country_code              country_name  year  value   Year Group
0            AGO                    Angola  2000  214.2  2000 - 2005
1            BFA              Burkina Faso  2000  184.1  2000 - 2005
2            BWA                  Botswana  2000   81.4  2000 - 2005
3            CAF  Central African Republic  2000  172.5  2000 - 2005
4            DJI                  Djibouti  2000  106.0  2000 - 2005
..           ...                       ...   ...    ...          ...
708          TZA                  Tanzania  2022   44.2  2021 - 2023
709          UGA                    Uganda  2022   44.7  2021 - 2023
710          WSM                     Samoa  2022   17.7  2021 - 2023
711          ZMB                    Zambia  2022   60.2  2021 - 2023
712          ZWE                  Zimbabwe  2022   51.9  2021 - 2023

[713 rows x 5 columns]

In [20]:
Mort_ma_table = reduc_Mort_ma_df.pivot(index='year', columns='country_name', values='value')
Mort_ma_table

country_name,Angola,Botswana,Burkina Faso,Central African Republic,Chad,Djibouti,"Egypt, Arab Rep.",Ethiopia,Gabon,Ghana,...,Senegal,Sierra Leone,Somalia,Sudan,Tanzania,Togo,Tunisia,Uganda,Zambia,Zimbabwe
year,,,,,,,,,,,,,,,,,,,,,
2000,214.2,81.4,184.1,172.5,192.8,106.0,48.5,152.0,90.9,107.6,...,136.0,235.2,178.9,110.6,134.7,128.1,32.1,156.7,165.2,100.7
2001,207.8,79.9,180.1,169.7,189.3,103.7,45.9,145.6,89.0,103.5,...,129.1,229.3,179.0,107.0,126.5,124.4,29.9,149.4,156.3,98.7
2002,200.7,78.4,175.8,166.5,185.9,101.3,43.4,139.0,86.9,99.6,...,121.2,223.4,178.9,103.4,118.6,120.6,28.0,141.2,145.7,97.3
2003,192.7,78.0,170.6,163.1,182.6,98.9,41.2,132.5,84.8,96.2,...,112.9,217.2,178.8,99.8,111.0,117.0,26.3,132.6,134.9,96.3
2004,183.9,77.3,164.5,159.5,179.0,96.6,39.2,125.8,82.5,93.4,...,104.7,210.7,178.9,96.5,104.0,113.4,24.9,123.9,124.2,96.6
2005,174.6,73.1,158.0,155.8,175.3,94.0,37.4,119.2,80.1,90.7,...,97.1,204.1,178.8,93.3,97.6,110.1,23.6,115.5,114.5,97.5
2006,164.9,69.2,151.0,151.5,171.4,91.5,35.8,112.9,77.8,88.3,...,90.5,197.3,178.2,90.3,92.0,106.8,22.6,107.7,106.1,99.8
2007,155.3,68.1,144.1,147.4,167.6,89.0,34.3,106.8,75.2,85.7,...,84.7,190.3,176.2,87.5,86.6,103.8,21.8,100.6,100.2,100.6
2008,145.9,67.9,137.5,143.6,163.7,86.5,32.9,101.1,72.7,82.9,...,79.6,183.0,172.7,85.0,81.9,100.7,21.2,94.1,94.8,99.4
2009,136.6,65.4,131.4,139.8,159.6,84.0,31.5,95.8,70.1,79.6,...,75.2,175.6,168.0,82.5,77.3,97.7,20.7,88.3,89.3,96.1
2010,128.0,63.1,126.0,136.0,155.4,81.6,30.2,90.8,67.2,76.2,...,71.3,168.6,163.0,80.3,73.5,94.8,20.4,82.8,84.5,91.1
2011,119.6,63.3,121.3,132.6,151.4,79.4,29.0,86.2,64.6,72.7,...,67.7,161.7,158.2,78.2,69.8,92.0,20.2,77.7,82.2,85.5
2012,112.0,58.5,116.9,129.6,147.4,77.1,27.8,81.7,61.9,69.3,...,64.4,155.1,153.0,76.1,66.7,89.2,20.0,72.5,80.0,77.0
2013,105.2,55.4,112.8,127.3,143.6,74.9,26.7,77.6,59.3,66.1,...,61.3,149.0,148.2,74.1,64.0,86.4,19.8,68.0,77.2,71.0
2014,99.6,54.6,109.0,124.6,139.7,72.6,25.6,73.7,57.2,63.2,...,58.4,147.0,143.3,72.1,61.2,83.8,19.5,64.4,74.6,67.3
2015,94.5,52.7,105.4,121.7,135.9,70.4,24.7,70.0,55.3,60.6,...,55.5,148.0,139.0,70.1,59.2,81.2,19.1,61.1,73.4,65.1
2016,90.4,51.3,101.7,118.8,132.2,68.3,23.8,66.5,53.0,58.1,...,52.7,133.1,134.8,68.0,56.7,78.7,18.5,57.6,70.2,62.3
2017,86.7,48.1,98.3,117.1,128.2,66.2,22.9,63.4,51.3,55.8,...,50.2,128.2,130.4,66.0,54.4,76.3,17.7,54.9,68.9,60.5
2018,83.3,47.2,95.0,114.9,124.2,64.2,22.2,60.6,49.5,53.7,...,47.9,123.7,126.3,63.9,52.0,73.9,16.7,52.4,69.0,58.0
2019,80.1,46.2,92.2,112.0,120.4,62.3,21.4,58.1,47.6,51.9,...,45.8,119.3,122.6,62.0,50.1,71.6,15.6,50.1,67.2,56.8
2020,77.3,44.9,89.2,109.1,116.6,60.2,20.7,55.8,45.2,50.0,...,44.0,115.1,118.7,60.1,48.2,69.3,14.4,48.0,64.2,55.8
2021,74.8,43.5,86.1,106.1,112.9,58.3,19.9,53.7,44.0,48.2,...,42.3,111.2,115.2,58.1,45.9,67.2,13.3,46.2,61.8,53.4
2022,72.4,42.3,83.3,103.4,109.3,56.6,19.3,51.7,42.8,46.7,...,40.8,107.5,112.1,56.3,44.2,65.1,12.4,44.7,60.2,51.9

In [21]:
# Save the DataFrame as a CSV
# Note: To avoid any issues later, use encoding="utf-8"
Mort_ma_table.to_csv("Resources\Mort_ma_table.csv", encoding="utf-8", index=False)

In [22]:
#WB_Mort_ma_df = WB_Mort_fem_df.rename(columns = {'value': 'Mortality Rate < 5 yr (per 100Th)'})
#WB_Mort_ma_df

## Mortality Rate < 5 yr (per 100Th) - Combined

In [23]:
WB_Mort_combo_df = WB_africadata_2000_df2.loc[WB_africadata_2000_df2['series_id'] == "SH.DYN.MORT"]
WB_Mort_combo_df

,series_id,country_code,country_name,year,value,Year Group
526439,SH.DYN.MORT,AGO,Angola,2000,202.9,2000 - 2005
526440,SH.DYN.MORT,BFA,Burkina Faso,2000,178.0,2000 - 2005
526441,SH.DYN.MORT,BWA,Botswana,2000,77.8,2000 - 2005
526442,SH.DYN.MORT,CAF,Central African Republic,2000,165.2,2000 - 2005
526443,SH.DYN.MORT,DJI,Djibouti,2000,99.7,2000 - 2005
...,...,...,...,...,...,...
527149,SH.DYN.MORT,TZA,Tanzania,2022,40.5,2021 - 2023
527150,SH.DYN.MORT,UGA,Uganda,2022,40.5,2021 - 2023
527151,SH.DYN.MORT,WSM,Samoa,2022,16.1,2021 - 2023
527152,SH.DYN.MORT,ZMB,Zambia,2022,55.6,2021 - 2023
527153,SH.DYN.MORT,ZWE,Zimbabwe,2022,47.7,2021 - 2023

In [24]:
reduc_Mort_combo_df = WB_Mort_combo_df.reset_index()
reduc_Mort_combo_df.drop(columns=['index','series_id'], inplace=True)
reduc_Mort_combo_df

    country_code              country_name  year  value   Year Group
0            AGO                    Angola  2000  202.9  2000 - 2005
1            BFA              Burkina Faso  2000  178.0  2000 - 2005
2            BWA                  Botswana  2000   77.8  2000 - 2005
3            CAF  Central African Republic  2000  165.2  2000 - 2005
4            DJI                  Djibouti  2000   99.7  2000 - 2005
..           ...                       ...   ...    ...          ...
708          TZA                  Tanzania  2022   40.5  2021 - 2023
709          UGA                    Uganda  2022   40.5  2021 - 2023
710          WSM                     Samoa  2022   16.1  2021 - 2023
711          ZMB                    Zambia  2022   55.6  2021 - 2023
712          ZWE                  Zimbabwe  2022   47.7  2021 - 2023

[713 rows x 5 columns]

In [25]:
Mort_combo_table = reduc_Mort_combo_df.pivot(index='year', columns='country_name', values='value')
Mort_combo_table

country_name,Angola,Botswana,Burkina Faso,Central African Republic,Chad,Djibouti,"Egypt, Arab Rep.",Ethiopia,Gabon,Ghana,...,Senegal,Sierra Leone,Somalia,Sudan,Tanzania,Togo,Tunisia,Uganda,Zambia,Zimbabwe
year,,,,,,,,,,,,,,,,,,,,,
2000,202.9,77.8,178.0,165.2,184.1,99.7,46.7,141.2,84.4,100.0,...,129.6,225.3,171.9,103.4,129.0,119.8,29.4,145.8,156.3,94.5
2001,197.0,76.5,173.9,162.5,180.7,97.4,44.0,135.0,82.6,96.0,...,122.8,219.9,171.9,100.0,121.0,116.2,27.4,139.0,147.6,92.5
2002,190.0,74.8,169.4,159.5,177.3,95.1,41.6,128.6,80.7,92.2,...,115.0,214.2,171.9,96.5,113.1,112.8,25.7,131.3,137.1,91.2
2003,182.3,74.4,164.3,156.1,173.9,92.8,39.4,122.2,78.6,88.9,...,106.9,208.4,171.9,93.2,105.6,109.4,24.1,123.2,126.6,90.3
2004,173.7,73.6,158.5,152.5,170.4,90.4,37.5,115.8,76.4,86.0,...,99.0,202.3,171.9,90.0,98.8,106.2,22.8,115.0,116.3,90.5
2005,164.7,69.4,152.2,148.7,166.9,88.0,35.8,109.5,74.2,83.4,...,91.6,196.0,171.8,87.0,92.5,103.1,21.7,107.1,107.0,91.4
2006,155.2,65.3,145.5,144.3,163.2,85.6,34.2,103.3,72.1,81.1,...,85.1,189.3,171.2,84.2,87.0,100.1,20.8,99.7,99.0,93.6
2007,145.9,64.0,138.8,140.2,159.5,83.1,32.7,97.6,69.6,78.7,...,79.4,182.4,169.3,81.5,81.6,97.2,20.1,93.0,93.3,94.5
2008,136.7,63.5,132.4,136.4,155.6,80.6,31.3,92.2,67.1,75.9,...,74.4,175.2,165.9,79.0,77.1,94.4,19.6,86.9,88.3,93.3
2009,127.7,61.1,126.5,132.5,151.6,78.3,30.0,87.2,64.6,72.9,...,70.1,168.1,161.1,76.7,72.5,91.6,19.1,81.5,83.1,90.2
2010,119.6,58.7,121.1,128.8,147.6,75.9,28.7,82.5,61.9,69.7,...,66.3,160.9,156.1,74.4,68.9,88.9,18.9,76.2,78.5,85.4
2011,111.5,58.7,116.3,125.4,143.6,73.7,27.5,78.1,59.4,66.5,...,62.8,154.1,151.2,72.4,65.3,86.2,18.6,71.4,76.3,80.0
2012,104.3,54.2,111.9,122.4,139.7,71.5,26.3,73.9,56.9,63.3,...,59.6,147.6,146.2,70.4,62.2,83.5,18.4,66.6,74.3,71.7
2013,97.9,51.3,107.8,120.2,135.8,69.4,25.2,70.1,54.5,60.4,...,56.6,141.6,141.3,68.5,59.4,80.8,18.2,62.3,71.6,65.9
2014,92.5,50.4,104.0,117.7,132.2,67.3,24.2,66.5,52.4,57.7,...,53.7,139.6,137.0,66.6,56.7,78.2,18.0,58.9,69.2,62.3
2015,87.9,48.6,100.4,114.8,128.6,65.2,23.2,63.1,50.6,55.3,...,50.9,140.5,132.6,64.7,54.7,75.8,17.6,55.8,68.0,60.2
2016,84.0,47.4,96.9,111.9,125.0,63.2,22.4,59.9,48.6,53.0,...,48.3,125.7,128.5,62.7,52.4,73.4,17.1,52.6,65.1,57.5
2017,80.4,44.3,93.6,110.2,121.2,61.0,21.6,56.9,46.8,50.9,...,45.9,121.0,124.2,60.8,50.2,71.0,16.3,50.0,63.8,55.8
2018,77.1,43.7,90.3,108.0,117.2,59.1,20.9,54.3,45.2,48.9,...,43.7,116.6,120.2,59.0,47.9,68.8,15.4,47.7,64.0,53.4
2019,74.2,42.6,87.3,105.3,113.5,57.3,20.1,52.1,43.3,47.1,...,41.8,112.2,116.5,57.1,46.0,66.5,14.4,45.5,62.3,52.4
2020,71.5,41.3,84.3,102.4,109.8,55.4,19.4,49.9,41.1,45.3,...,40.0,108.2,112.9,55.3,44.2,64.4,13.3,43.6,59.3,51.4
2021,69.1,39.9,81.4,99.3,106.4,53.7,18.7,48.0,39.9,43.8,...,38.4,104.4,109.4,53.4,42.1,62.4,12.3,42.0,57.2,49.1
2022,66.9,38.7,78.8,96.8,102.9,51.9,18.1,46.2,38.8,42.3,...,37.0,100.8,106.1,51.6,40.5,60.4,11.5,40.5,55.6,47.7

In [26]:
# Save the DataFrame as a CSV
# Note: To avoid any issues later, use encoding="utf-8"
Mort_combo_table.to_csv("Resources\Mort_combo_table.csv", encoding="utf-8", index=False)

In [27]:
#WB_Mort_combo_df = WB_Mort_fem_df.rename(columns = {'value': 'Mortality Rate < 5 yr (per 100Th)'})
#WB_Mort_combo_df

In [28]:
data4 = {
    '2000 Female Mortality Rate < 5 yr (per 100Th)': (Mort_fem_table.iloc[0, 0:31]),
    '2022 Female Mortality Rate < 5 yr (per 100Th)': (Mort_fem_table.iloc[-1, 0:31]),
    '2000 Male Mortality Rate < 5 yr (per 100Th)': (Mort_ma_table.iloc[0, 0:31]),
    '2022 Male Mortality Rate < 5 yr (per 100Th)': (Mort_ma_table.iloc[-1, 0:31]),
    '2000 Combined Mortality Rate < 5 yr (per 100Th)': (Mort_combo_table.iloc[0, 0:31]),
    '2022 Combined Mortality Rate < 5 yr (per 100Th)': (Mort_combo_table.iloc[-1, 0:31])
}
summary_table4 = pd.DataFrame(data4)
summary_table4

,2000 Female Mortality Rate < 5 yr (per 100Th),2022 Female Mortality Rate < 5 yr (per 100Th),2000 Male Mortality Rate < 5 yr (per 100Th),2022 Male Mortality Rate < 5 yr (per 100Th),2000 Combined Mortality Rate < 5 yr (per 100Th),2022 Combined Mortality Rate < 5 yr (per 100Th)
country_name,,,,,,
Angola,190.9,61.0,214.2,72.4,202.9,66.9
Botswana,73.9,35.1,81.4,42.3,77.8,38.7
Burkina Faso,171.5,73.9,184.1,83.3,178.0,78.8
Central African Republic,157.5,89.9,172.5,103.4,165.2,96.8
Chad,175.0,96.2,192.8,109.3,184.1,102.9
Djibouti,92.9,47.0,106.0,56.6,99.7,51.9
"Egypt, Arab Rep.",44.8,16.8,48.5,19.3,46.7,18.1
Ethiopia,129.8,40.5,152.0,51.7,141.2,46.2
Gabon,77.6,34.7,90.9,42.8,84.4,38.8
Ghana,92.0,37.8,107.6,46.7,100.0,42.3
Kenya,89.8,37.1,101.9,44.9,96.1,41.1
Lesotho,102.3,65.6,118.2,78.6,110.6,72.2
Liberia,178.5,67.2,199.8,79.0,189.3,73.2
Madagascar,98.2,60.3,111.3,70.9,104.9,65.8
Malawi,163.5,35.4,182.8,44.4,173.4,40.1
Mauritania,90.6,35.1,105.7,43.0,98.3,39.2
Mozambique,166.0,61.8,177.8,70.6,172.0,66.2
Nigeria,173.7,100.9,191.0,113.2,182.5,107.2
Rwanda,177.1,34.6,192.5,41.3,185.0,38.0
Samoa,19.1,14.4,23.1,17.7,21.2,16.1
Sao Tome and Principe,76.8,12.9,87.0,15.9,82.0,14.5
Senegal,122.7,33.0,136.0,40.8,129.6,37.0
Sierra Leone,214.7,93.8,235.2,107.5,225.3,100.8
Somalia,164.3,99.9,178.9,112.1,171.9,106.1
Sudan,95.9,46.7,110.6,56.3,103.4,51.6
Tanzania,122.9,36.6,134.7,44.2,129.0,40.5
Togo,111.0,55.3,128.1,65.1,119.8,60.4
Tunisia,26.5,10.5,32.1,12.4,29.4,11.5
Uganda,134.3,36.1,156.7,44.7,145.8,40.5
Zambia,147.0,50.7,165.2,60.2,156.3,55.6
Zimbabwe,87.8,43.3,100.7,51.9,94.5,47.7

In [29]:
# Save the DataFrame as a CSV
# Note: To avoid any issues later, use encoding="utf-8"
summary_table4.to_csv("Resources\WB_mortality_summary.csv", encoding="utf-8", index=False)